<% if (subdata.statusSignup !='') {%>
<p>
       <%= subdata.statusSignup %>
</p>
<% } %>
<form action="daftar" method="post">
       <p>Nama Lengkap : <input type="text" name="fullname" id=""></p>
       <p>Nama Pengguna : <input type="text" name="username" id=""></p>
       <p>Kata Sandi : <input type="password" name="paswd" id=""></p>
       <p><input type="submit" value="Signup"></p>
</form>