<center>
<form action="" method="post">
    <h3>Selamat Datang Di Zalora Olshop</h3>
    <p>Zalora Olshop merupakan salah satu situs marketplace terbesar di indonesia 
        yang tentunya sudah dikenal masyarakat umumnya bahkan anda sendiri. 
        Sejarah Zalora Olshop dimulai pada tanggal 16 Oktober 2019.
        Tentunya anda mengenal tokopedia saat ini sebagai perusahaan besar 
        yang sukses menjalankan bisnisnya. Namun kesuksesan mereka tidak diraih 
        begitu saja karena dibaliknya ada faktor konsep yang baik juga diterima masyarakat, 
        kerja keras hingga kegigihan para pendirinya. Hal yang sangat dibenarkan 
        bahwa kesuksesan usaha dimanapun umumnya ditentukan oleh konsep dasar dari bisnis tersebut 
        dengan mencari peluang dalam rangka memberikan manfaat kepada calon pelanggannya. 
        Perusahaan seperti ini sangat berpeluang besar untuk berkembang menjadi besar nantinya.</p>
    <p>Zalora Olshop juga menerima reseller dari berbagai kalangan tanpa biaya penanganan apapun,
        jika anda berminat bisa langsung hubungi email "rizzqyy57@gmail.com" atau hubungi nomor Whatsapp
        "085257021172"
    </p>
</form>
</center>