<div class="container">
    <div class="row">
        <div class="col-md-4">
          <h2>Produk Untuk Wanita</h2>
          <p>Di sini kami menyediakan segala kebutuhan wanita dari wanita remaja hingga dewasa dan segala aksesoris yang di butuhkan dan semua macam kebutuhan body care dan skincare dari brand terbaik dan terkemuka. </p>
          <p><a class="btn btn-secondary" href="ctlgw" role="button">Lihat Catalog &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Produk Untuk Pria</h2>
          <p>Di sini kami menyediakan segala kebutuhan Pria dari pria remaja hingga dewasa dan segala fhasion yang di butuhkan dan banyak lagi produk yang kami punya untuk memenuhi kebutuhan anda. </p>
          <p><a class="btn btn-secondary" href="ctlgp" role="button">Lihat catalog &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Perlengkapan Bayi</h2>
          <p>Kami juga menyediakan segala kebutuhan bayi anda dari mulai pakaian hingga aksesoris dan mainan serta kebutuhan bayi lainnya, dan hampir segala produk yang kami sediakan adalah kebutuhan untuk bayi anda.</p>
          <p><a class="btn btn-secondary" href="ctlgb" role="button">Lihat catalog &raquo;</a></p>
        </div>
      </div>
</div>