<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">~Zalora Olshop~</h1>
      <p>Zalora Olshop adalah platform e-commerce terkemuka saat ini. Diluncurkan pada tahun 2019. Ini adalah platform yang disesuaikan untuk wilayah tertentu dan memberikan pelanggan pengalaman belanja online yang mudah, aman, dan cepat melalui pembayaran yang kuat.Owner juga menerima bagi siapapun yang berminat menjadi reseller dari Zalora Olshop.</p>
      <p><a class="btn btn-primary btn-lg" href="about" role="button">Selengkapnya &raquo;</a></p>
    </div>
</div>