<center>
    <form action="" method="post">
        <h3>List Catalog Produk</h3>
        <table border="1">
            <tr>
                <td>Nama Barang</td>
                <td>Link Produk</td>
            </tr>
            <tr>
                <td>Barang 1</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 2</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 3</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 4</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 5</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 6</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 8</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 9</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 10</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 11</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 12</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 13</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 14</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 15</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 16</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 17</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 18</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 19</td>
                <td><button>Lihat Produk</button></td>
            </tr>
            <tr>
                <td>Barang 20</td>
                <td><button>Lihat Produk</button></td>
            </tr>
                
        </table>
    </form>
</center>