<center>
<form action="" method="post">
        <p>Nama Lengkap <input type="text" name="fullname" id=""></p>
        <p>Nama Pengguna <input type="text" name="Usename" id=""></p>
        <p>E-mail Anda <input type="text" name="email" id=""></p>
        <p>Kata Sandi <input type="password" name="sandi" id=""></p>
        <p><input type="submit" value="Signup"></p>
</form>
</center>