<center>
<form action="" method="post">
    <!--<h3><%= subdata.blogAbout[0].judul %></h3>-->
    <p><%= subdata.blogAbout[0].tentang %></p>
    <p><%= subdata.blogAbout[0].reseller %></p>
</form>
</center>