<div class="jumbotron">
    <div class="container">
      <h1 class="display-3"><%= subdata.blogInfo[0].namablog %></h1>
      <p><%= subdata.blogInfo[0].about%></p>
      <p><a class="btn btn-primary btn-lg" href="About" role="button">Selengkapnya &raquo;</a></p>
    </div>
</div>